* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1024px;
    background-color: white;
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1em;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #4a4a4a;
    letter-spacing: 1.5px;
  }

a:hover {
    color: cornflowerblue;
}
  /* exceeds expectations requirement: additional styling for links - this is according to the "exceed expectations" table in the "how you'll be graded" tab  */

nav {
    padding-top: 10px;
}

h2 {
    font-size: 1.2em;
}

main h2 {
    text-align: center;
    padding: 5em 1em 2em 1em;
}

/***********************************
            Main
***********************************/

.header,
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name,
.nav,
.profile-picture,
.box {
    text-align: center;
    align-self: center;
}

.name,
h2,
h3,
h4 {
    color: midnightblue;
}
/* exceeds expectations requirement: The color of at least one piece of text has been changed. */

.header {
    padding-top: 20px;
}

.nav {
    list-style: none;
}

.nav li {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}

.banner {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile-picture {
    width: 60%;
}

.banner-text {
    padding: 20px 10px 20px 10px;
}

.portfolio img {
    padding-top: .8em;
    width: 100%;
}

.portfolio p {
    padding-top: .8em;
}

.skills h2 {
    padding: 2em;
    text-align: center;
}

.box  {
    margin: 10px;
    width: 300px;
    min-height: 400px;
}

.box h3 {
   font-size: 1.4em;
   padding-top: 1em;
}

/* Additional requirements for "exceed expectations" grade I added a skills section with a three images */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills img {
    object-fit: cover;
    height: 12vh;
    padding: 20px;
}
/* Additional requirements for A new background color or image for the navigation and/or main sections of the site. */

.skills figure {
    display: flex;
    flex-direction: column;
}

/***********************************
            Footer
***********************************/

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer h2 {
    padding-top: 3.5em;
}

.footer p {
    margin: 0 auto;
    padding: 1em 0 2em 0;
}

.footer-email {
    padding-bottom: 3em;
}

.footer-nav {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.8em 0.25em 0.8em 0.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-nav h4 {
    padding: 10px;
}

.footer-home,
    .footer-portfolio,
    .footer-contact,
    .footer-skills {
        display: none;
    }

/* MEDIA QUERIES */
@media (min-width: 768px){
    .footer-home,
    .footer-portfolio,
    .footer-contact,
    .footer-skills {
        display: inline-block;
    }
/* I learned that you can reinitialize the initial display when a certain breakpoint is triggered */
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .portfolio {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
    }
    .banner {
        flex-direction: row-reverse; 
        text-align: left;
        padding-top: 50px;
    }
    .banner-text {
        font-size: 1.3em;
        justify-content: flex-start;
        padding: 0 15px 0 20px;
    }
    .banner img {
        width: 35vw;
        padding-right: 25px;
    }
    .box  {
        width: calc(50% - 20px);
    }
    /* This flex basis property is so cool its blowing my mind! */
    .box h3 {
        padding: 1em;
    }

    .box p {
        padding: 0 1.8em;
    }

    .footer p {
        width: 60%;
        align-self: center;
    }
    .footer-totop {
        display: none;
    }
    .footer-nav {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-name {
        margin-right: auto;
    }
    .skills {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .skills img {
        object-fit: cover;
        height: 100%;
    }
    .skills figure {
        display: flex;
        flex-direction: row;
        height: 15vh;
    }
}

@media (min-width: 1024px){
    .header,
    .banner {
        display: flex;
        flex-direction: row;
    }
    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 30px;
    }
    .name {
        padding-left: 40px;
        margin-right: auto;
    }
    .nav {
        display: flex;
    }
    .profile-picture {
        margin-right: 20px;
    }
    .banner {
        margin-top: -10px;
        flex-direction: row-reverse;
    }
    .banner-text {
        padding: 0 40px 0 40px;
    }
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .box  {
        flex-basis: calc(33.333% - 30px);
    }

    .box p {
        padding: .25em;
    }
    /* same thing here, instead of adding padding and margin use flex-basis */
    .skills {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .skills img {
        width: calc(40% - 20px);
    }
    .footer p {
        width: 45%;
        align-self: center;
    }
    .footer-nav {
        margin-bottom: -20px;
    }
    .skills img {
        object-fit: cover;
        height: 10vh;
    }
}