* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    color: #4a4a4a;
    font-family: 'Comfortaa';
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

nav {
    padding-top: 10px;
}

main h2 {
    text-align: center;
    padding: 75px 10px;
}

/***********************************
            Main
***********************************/

.header,
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name,
.nav,
.profile-picture,
.box {
    text-align: center;
    align-self: center;
}

.header {
    padding-top: 20px;
}

.nav {
    list-style: none;
}

.nav li {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}

.banner {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile-picture {
    width: 60%;
}

.banner-text {
    padding: 20px 5px 0 5px;
}

.portfolio img {
    width: 100%;
}

.portfolio h2 {
    padding: 2em;
    text-align: center;
}

.box  {
    margin: 10px;
    width: 300px;
}

.box h3 {
   font-size: 1.4em;
}

.box p {
    padding-bottom: 25px;
}

.box h3,
.box p {
    padding-top: 1em;
}

/***********************************
            Footer
***********************************/

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer h2 {
    padding-top: 3.5em;
}

.footer p {
    padding: 1em 0 2em 0;
}

.footer-email {
    padding-bottom: 3em;
}

.footer-nav {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0.8em 0.25em 0.8em 0.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-nav h4 {
    padding: 10px;
}

/* MEDIA QUERIES */

@media (min-width: 320px){ 
    .footer-home,
    .footer-portfolio,
    .footer-contact {
        display: none;
    }
}
/* I used a media query to hide some text because according to the 320pixel mockup it only shows BACK TO TOP */

@media (min-width: 768px){
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .portfolio {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .banner {
        flex-direction: row-reverse; 
        text-align: left;
        padding-top: 50px;
    }
    .banner-text {
        padding: 0 15px 0 25px;
    }
    
    .banner img {
        width: 40vw;
        padding-right: 25px;
    }
    .box  {
        width: 350px;
    }
    .box h3 {
        padding: 15px;
    }
    .box p {
        padding-bottom: 25px;
    }
    .footer-home,
    .footer-portfolio,
    .footer-contact {
        display: inherit;
    }
    /* I learned that you can reinitialize the initial display when a certain breakpoint is triggered */
    .footer p {
        width: 60%;
        align-self: center;
    }
    .footer-totop {
        display: none;
    }
    .footer-nav {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer-name {
        margin-right: auto;
    }
    .profile-picture {

    }
}

@media (min-width: 1024px){
    .header,
    .banner {
        display: flex;
        flex-direction: row;
    }
    .header {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 30px;
    }
    .name {
        padding-left: 25px;
        margin-right: auto;
    }
    .nav {
        display: flex;
    }
    .profile-picture {
        margin-right: 20px;
    }
    .banner {
        margin-top: -10px;
        flex-direction: row-reverse;
    }
    .portfolio {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box  {
        width: 300px;
    }
    .footer p {
        width: 45%;
        align-self: center;
    }
    .footer-nav {
        margin-bottom: -20px;
    }
}