* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

main h2 {
    text-align: center;
}

/***********************************
            Main
***********************************/

.header,
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name,
.nav,
.profile-picture,
.banner-text,
.box {
    text-align: center;
    align-self: center;
}

.header h1 {
    padding: 0.8em;
}

.banner-text {
    padding-bottom: 2em;
}

.banner img,
.portfolio img {
    align-self: center;
    width: 100%;
}

.banner img {
    width: 60%;
}

.portfolio h2 {
    padding: 2em;
    text-align: center;
}

.nav {
    list-style: none;
}

.nav li {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box  {
    margin: 10px;
    width: 300px;
}


/***********************************
            Footer
***********************************/

.footer {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    text-align: center;
}

.footer h2 {
    margin: 2em;
}

.footer p {
    margin-bottom: 1.75em;
}

/* MEDIA QUERIES */

@media (min-width: 768px){
    .banner {
        display: flex;
        flex-direction: row;
    }
    .portfolio {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .banner {
        flex-direction: row-reverse;
    }
    .box  {
        width: 350px;
    }
}

@media (min-width: 1024px){
    .header,
    .banner {
        display: flex;
        flex-direction: row;
    }
    .header ul {
        margin-left: 20em;
    }
    .nav {
        display: flex;
    }
    .banner {
        flex-direction: row-reverse;
    }
    .portfolio {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}